container_commands:
  01_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "pixlee_instagram.settings"
    "PYTHONPATH": "/opt/python/current/app/pixlee_instagram:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: pixlee_instagram/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"