<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Instagram Collection</title>
    {% load staticfiles %}

    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/animate.min.css' %}" rel="stylesheet"> 
	<link href="{% static 'main/css/main.css' %}" rel="stylesheet">
	<link href="{% static 'main/css/responsive.css' %}" rel="stylesheet">
</head><!--/head-->
<body>
	<div class="container-center">
		<h1>Error on search, check your inputs!</h1>
		<center><a href="{% url 'main:index' %}" class="btn btn-common">RETURN BACK</a></center>
	</div>
	<script type="text/javascript" src="{% static 'main/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
</body>
<html>